


.logo {
    margin: 5px 5px 5px 10px;
    width: 4%;
}

.welcome {
    margin: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: medium;
    color: var(--primary-body);
}


.addBtn {
    margin-left: 8%;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
}

.editBtn {
    background-color: #ffb650;
}

.editBtn:hover {
    background-color: #ffd9a4;
}


.delBtn,
.denyBtn {
    background-color: #bd2c21;
}

.delBtn:hover {
    background-color: #bc4941;
}
.denyBtn:hover {
    background-color: #bc4941;
}
.acceptBtn {
    background-color: #41B06E;
}

.acceptBtn:hover {
    background-color: #63b182;
}

@media screen and (min-width: 1380px) {
    .addBtn {
        margin-left: 15%;
    }
}

@media screen and (min-width: 1660px) {
    .addBtn {
        margin-left: 20%;
    }
}

@media screen and (min-width: 1935px) {
    .addBtn {
        margin-left: 25%;
    }
}

