.login-container{
    margin: auto;
    display: block;
    width: 50%;
    justify-content: center;
    /* align-items: center; */
    /* align-content: center; */
}

.btn_group{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navbar{
    background-color: #176B87;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#offcanvasDarkNavbar{
    background-color: #86B6F6;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
}


#offcontent :hover{
    background-color: #B4D4FF;
    color: white;
}
/* #offcanvasDarkNavbar :hover{
    background-color: white;
    color: #EEF5FF;
} */

#login-user {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}